body{
    background: #222;
}
#countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

}
.country{
    border: 1px solid crimson;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    width: 250px;
    margin-top: 20px;
    color: yellow;
}